@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}


.container{
  display: flex;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  max-width: 900px;
  width: 100%;
}

.login-form{
  padding: 40px;
  width: 50%;
  box-sizing: border-box;
}

.login-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form input[type="text"], .login-form input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}

.login-form button {
  padding: 10px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-form button:hover {
  background-color: #3700b3;
}

.login-form p {
  margin-top: 20px;
  text-align: center;
}

.login-form p a {
  color: #6200ea;
  text-decoration: none;
}

.bg-login{
  width: 50%;
  background-image: url('../public/office-work-15.png'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
}